body { background-color: SlateGray; }
h1 {
	color: white;
	font-size: 300%;
	text-align: center;
  margin-top: 12%;
	line-height: 1;
	font-family: 'Press Start 2P', cursive;
	padding-bottom: 0px;
	margin-bottom: 0px;
}
h3 {
  color:white;
  font-size: 300%;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
}

iframe {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

h2 {
  color: white;
  font-size: 100%;
  text-align: left;
  margin-top: 1%;
  line-height: 1;
  font-family: 'Press Start 2P', cursive;
  padding-bottom: 0px;
  margin-bottom: 50px;
  text-decoration: underline;
}
p{
  text-align: center;
  color:white;
  font-size: 150%;

}

a:link {
  color: white;
  text-decoration: none;
  font-size: 120%;
  font-family: 'Press Start 2P', cursive;
}

/* visited link */
a:visited {
  color: white;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: lightskyblue;
  text-decoration: underline;
}

/* selected link */
a:active {
  color: lightskyblue;
  text-decoration: underline;
}